.container {
    width: 90%;
    max-width: 30em;
    margin: 0 auto;
}
.menu {
    padding: 0;
    display: block;
}
@media print {
    .container {
        font-size: 80%;
        margin: 0 1em;
        max-width: 50em;
    }
    .noprint {
        display: none;
    }
}
.menu-item {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
}
.menu-item a {
    display: block;
    padding-right: 12px;
    font-size: 150%;
}
@media not print and (max-width: 1000px) {
    .menu-item a {
        padding-right: 45px;
    }
    .container {
        font-size: 150%;
    }
}
.cv-section {
    padding: 0;
}
.cv-item {
    list-style-type: none;
    padding: 0 0 0.5em 0
}
a.nohist:link,
a.nohist:visited {
    color: blue;
}
a.nohist:active {
    color: red;
}
.gibberish {
    font-size: 50%;
}
